.img-comtainer{
    width: 100%;
    height: 70%;
    padding-left: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
}
.bold-line{
    font-size: 20px;
    margin-left: 5px;
}
.fa-star{
    color: yellow;
}
.my-anchor-css-class{
    text-decoration: none;
    color: yellow;
}
.my-anchor-css-class:hover{
    color: darkgoldenrod;
}
.content-css span{
   
}